body{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*min-height: 100%;*/
  /*background-color: #c9c9c9;*/
  background-image: url("../images/woodBack01.jpeg");
  background-size: contain;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.navigationBar ul li{
  list-style: none;
}

.navigationBar ul li a{
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 25px;
  left: 18vw;

  position: relative;

  color: #faefe5;
  font-size: 20px;

  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.1vw;
}

#touchBothSides a{
  color: #c9c9c9;
  font-family: 'Roboto', sans-serif;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
}

footer a{
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}

#copyrightSection p{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
